@use 'sass:map';
@use '../theming/palette';
@use 'sass:color';

/**
* Navbar styling
*/

.navbar {

  position: fixed;
  width: 100%;
  text-transform: capitalize;

  .navbar-brand-image {
    width: 40px;
    height: 40px;
  }

  a {
    text-decoration: none;
    font-weight: 400;
    &:hover {
      text-decoration: none;
      font-weight: 400;
    }
  }



}

@mixin navbar($color-theme) {

  $text-color: palette.map-get($color-theme, "navbar", "fg");
  $background-color: palette.map-get($color-theme, "navbar", "bg");
  $active-menu-hover: palette.map-get($color-theme, "navbar", "active-item", "bg");

  .navbar {
    background-color: color.adjust($background-color, $alpha: -0.1);
    color: $text-color;
    transition: background-color 0.5s;
  }

  .navbar.transparent {
    background-color: color.adjust($background-color, $alpha: -1);
    background: rgb(0 0 0 / 14%);
    color: $text-color;
  }

  @media (max-height: 768px) {
    .navbar.transparent .navbar-brand {

    }
  }

  .navbar {

    .navbar-burger {
      color: $text-color;
    }

    .navbar-item {
      transition: all 0.15s;
    }

    .navbar-start {
      .navbar-item {
        color: inherit;
      }

      .navbar-item {
        &:focus {
          background-color: inherit;
          color: inherit;
        }
        &:hover, &:active {
          color: $background-color;
          background-color: $text-color;
        }
      }
    }

    .navbar-brand {
      .navbar-brand-image {
        height: 30px;
        width: 30px;
      }
      .navbar-item {
        background-color: transparent;
        transform: scale(1);
      }

      .navbar-item:hover {
        transform: scale(1.2);
      }

    }

    .navbar-dropdown {
      background-color: $text-color;
      color: $background-color;
      a {
        border-left: 3px solid transparent;
      }
      a:hover {
        text-shadow: 0 0 2px $background-color;
        border-left: 3px solid $background-color;
      }
    }

    .navbar-menu.is-active {
      background-color: transparent;
      a:active, a:hover, a:focus {
        color: $background-color;
        background-color: $text-color;
      }
    }

    .button {
      color: $background-color;
      background-color: $text-color;
    }

  }
}
