@use 'sass:map';
@use '../theming/palette';

/**
* Tooltip
*/

@mixin tooltip($color-theme) {

  $text-color: palette.map-get($color-theme, "tooltip", "fg");
  $background-color: palette.map-get($color-theme, "tooltip", "bg");

  .tooltip {
    .tooltip-bubble {
      background-color: $background-color;
      * {
        color: $text-color;
      }

      .anchor-box .anchor-inner {
        background: $background-color;
      }
    }
  }
}
