@forward '../theming/palette';
@use '../components/all' as svs;
@use '../theming/palette';
@use 'sass:color';

@mixin theme($color-theme) {

  @include svs.appcontainer($color-theme);
  @include svs.navbar($color-theme);
  @include svs.footer($color-theme);
  @include svs.tooltip($color-theme);
  @include svs.switch($color-theme);
  @include svs.timeline($color-theme);
  @include svs.button($color-theme);

  .flat-background {
    background-color: palette.map-get($color-theme, "bg");
  }

  .navbar-brand-image {
    background-image: url("/icons/svs/svs_square_light_icon.svg");
  }

  blockquote {
    border-left: 3px color.adjust(palette.map-get($color-theme, "fg"), $alpha: -0.4) solid;
  }

}
