@use '../theming/palette';
@use 'base';


$color-theme: palette.generateCompletePalette(
  (
    "primary": #FFFADE,
    "secondary": #FFBA5E,
    "tertiary": #F5816B,
    "back": #333366,
    "alternative": #FFFFFF
  )
);

@mixin theme() {
  @include base.theme($color-theme);
  .gradient-bg {
    background: url("/backgrounds/bg_dark.png") fixed;
  }

  .home {
    background: url("/backgrounds/bg_dark.png") fixed;
    background-size: cover;
  }
}
