@use '../theming/palette';
@use 'base';

$color-theme: palette.generateCompletePalette(
  (
    "primary": #333366,
    "secondary": #FFBA5E,
    "tertiary": #F5816B,
    "back": #FFFADE,
    "alternative": #FFFFFF
  )
);

@mixin theme() {
  @include base.theme($color-theme);
  .gradient-bg {
    background: url("/backgrounds/bg_light.png") fixed;
  }

  .app-container {
    background-image: url("/backgrounds/bg_light.png");
  }
}
