/* Base framework */
@import '~bulma';
@import '~bulma-switch';
@import '~bulma-timeline';

//Import Jost
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

//Import Montserrat
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ========================================================================= */

/**
* Resetting some user-agent properties so it's easier to style afterward
*/

* { transition: 0.15s background-color, 0.15s color; }

html {
  min-height: 100vh;
  overflow: auto;
}

h1, h2, h3, h4, h5, h6, span, strong, em, b {
  color: inherit;
}

b, strong {
  font-weight: bolder;
}

em {
  font-style: italic;
}

/* ========================================================================= */

/*
* Default and base SvS styling
*/

html {
  font-size: 14px;
  overflow-x: hidden;
}

* {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4 {
  font-family: 'Jost', sans-serif;
  font-weight: 600;
}

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1em; }
h5 { font-size: 0.83em; }
h6 { font-size: 0.67em; }
h1, h2, h3, h4, h5, h6 { margin-top: 1.6em; margin-bottom: 0.8em; }

a {
  color: inherit;
  font-weight: 600;
  text-decoration: underline;
  &:hover {
    color: inherit;
  }
}

p {
  margin: 1.25em 0;
  line-height: 1.8;

  a {
    color: inherit;
    font-weight: 600;
    text-decoration: underline;
    &:hover {
      color: inherit;
    }
  }
}

article {
  ol {
    list-style: upper-alpha;
      margin-left: 10px;
    ol {
      margin-left: 20px;
      list-style: decimal;
      text-align: justify;
      ol {
        list-style: lower-alpha;
      }
    }
  }
}

blockquote {
  // border-left: 0.25em solid #8888;
  font-style: italic;
  position: relative;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 7%), 0 3px 1px -2px rgb(0 0 0 / 6%), 0 1px 5px 0 rgb(0 0 0 / 10%);
  background-color: rgb(255 255 255 / 5%);
  padding: 1em 2em;
  // padding-left: 1em;
  margin: 1.6em 0;

  a {
    color: inherit;
    font-weight: 600;
    text-decoration: underline;
    &:hover {
      color: inherit;
    }
  }
}

ul {
  position: relative;
  list-style: outside disc;
  margin-left: 2em;
  li {
    position: relative;
    margin: 0.6em 0;

    &:before {
      background-color: #9b9a9fd4;
    }

  }
}

@media (max-width: 768px) {
  html {
    font-size: 12px;
  }

  .container {
    padding: 10px;
  }
}

.svs-button-transparent {
  color: inherit;
  background-color: transparent;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.15s all;
  border: none;
  transform: scale(1);
}

.svs-fab-button-transparent {
  color: inherit;
  background-color: transparent;
  outline: none;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.15s all;
  border: none;

}

/* Logos */

.svs-logo {
  display: inline-block;
  background-size: cover;
  background-image: url("/icons/svs/svs_square_dark_icon.svg");
  border: 1px 1px black;
}

.svs-logo.light {
  background-image: url("/icons/svs/svs_square_light_icon.svg");
}

.svs-logo.dark {
  background-image: url("/icons/svs/svs_square_dark_icon.svg");
}

/* Shadows */

.no-shadow {
  box-shadow: none !important;
}

.shadow-depth-1 {
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
}

.shadow-depth-2 {
  box-shadow:0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%), 0 2px 4px -1px rgb(0 0 0 / 30%);
}

.shadow-depth-3 {
    -webkit-box-shadow: 0 8px 17px 2px rgba(0,0,0,0.14),0 3px 14px 2px rgba(0,0,0,0.12),0 5px 5px -3px rgba(0,0,0,0.2);
    box-shadow: 0 8px 17px 2px rgba(0,0,0,0.14),0 3px 14px 2px rgba(0,0,0,0.12),0 5px 5px -3px rgba(0,0,0,0.2);
}

.shadow-depth-4 {
    -webkit-box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14),0 6px 30px 5px rgba(0,0,0,0.12),0 8px 10px -7px rgba(0,0,0,0.2);
    box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14),0 6px 30px 5px rgba(0,0,0,0.12),0 8px 10px -7px rgba(0,0,0,0.2);
}

.shadow-depth-5 {
  box-shadow: 0 24px 38px 3px rgb(0 0 0 / 14%), 0 9px 46px 8px rgb(0 0 0 / 12%), 0 11px 15px -7px rgb(0 0 0 / 20%);
}
