//Import Jost
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

//Import Montserrat
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

//Import Bulma
@import '~bulma';

$light-primary-color: #FFFADE;
$dark-primary-color: #333366;

$secondary-color: #F5816B;
$tertiary-color: #FFBA5E;

/* ========================================================================= */

* { transition: 0.15s background-color, 0.15s color; }

/**
* Resetting some user-agent properties
*/
html {
  min-height: 100vh;
  overflow: auto;
}

h1, h2, h3, h4, h5, h6, span, strong, em, b {
  color: inherit;
}

b, strong {
  font-weight: bolder;
}

em {
  font-style: italic;
}

/* ========================================================================= */

/*
* Default and base SvS styling
*/

html {
  font-size: 14px;
}

* {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4 {
  font-family: 'Jost', sans-serif;
  font-weight: 600;
}

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1em; }
h5 { font-size: 0.83em; }
h6 { font-size: 0.67em; }
h1, h2, h3, h4, h5, h6 { margin-top: 1.6em; margin-bottom: 0.8em; }

a {
  color: inherit;
  font-weight: 600;
  text-decoration: underline;
  &:hover {
    color: inherit;
  }
}

p {
  margin: 1.25em 0;
  line-height: 1.8;

  a {
    color: inherit;
    font-weight: 600;
    text-decoration: underline;
    &:hover {
      color: inherit;
    }
  }
}

blockquote {
  // border-left: 0.25em solid #8888;
  font-style: italic;
  position: relative;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 7%), 0 3px 1px -2px rgb(0 0 0 / 6%), 0 1px 5px 0 rgb(0 0 0 / 10%);
  background-color: rgb(255 255 255 / 5%);
  padding: 1em 2em;
  // padding-left: 1em;
  margin: 1.6em 0;

  ::before {
    position: absolute;
    left: 0;
    top: 0;
    min-width: 0.25em;
    width: 0.25em;
    height: 100%;
    background-color: pink;
    content: '.';
    color: transparent;
    opacity: 0.8;
  }

  a {
    color: inherit;
    font-weight: 600;
    text-decoration: underline;
    &:hover {
      color: inherit;
    }
  }
}

ul {
  position: relative;
  list-style: outside disc;
  margin-left: 2em;
  li {
    position: relative;
    margin: 0.6em 0;

    &:before {
      background-color: #9b9a9fd4;
    }

  }
}

@media (max-width: 768px) {
  html {
    font-size: 12px;
  }

  .container {
    padding: 10px;
  }
}

.svs-button-transparent {
  color: inherit;
  background-color: transparent;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.15s all;
  border: none;
  transform: scale(1);
}

.svs-fab-button-transparent {
  color: inherit;
  background-color: transparent;
  outline: none;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.15s all;
  border: none;

}

.svs-logo {
  display: inline-block;
  background-size: cover;
  background-image: url("/icons/svs/svs_square_dark_icon.svg");
  border: 1px 1px black;
}

.svs-logo.light {
  background-image: url("/icons/svs/svs_square_light_icon.svg");
}

.svs-logo.dark {
  background-image: url("/icons/svs/svs_square_dark_icon.svg");
}

/* ========================================================================= */

/**
* Navbar styling
*/

.navbar {

  position: fixed;
  width: 100%;

  .navbar-brand-image {
    width: 40px;
    height: 40px;
  }

  a {
    text-decoration: none;
    font-weight: 400;
    &:hover {
      text-decoration: none;
      font-weight: 400;
    }
  }

}

@mixin navbar($text-color, $background-color) {
  .navbar {
    background-color: $background-color;
    color: $text-color;

    .navbar-burger {
      color: $text-color;
    }

    .navbar-item {
      transition: all 0.15s;
    }

    .navbar-start {
      .navbar-item {
        color: inherit;
      }

      .navbar-item:hover {
        background-color: $text-color;
        color: $background-color;
      }
    }

    .navbar-brand .navbar-item {
      background-color: transparent;
      transform: scale(1);
    }

    .navbar-brand .navbar-item:hover {
      transform: scale(1.1);
    }

    .navbar-menu.is-active {
      background-color: $secondary-color;
      a:active, a:hover, a:focus {
        background-color: $tertiary-color;
        color: $text-color;
      }
    }

    .button {
      color: $background-color;
      background-color: $text-color;
    }

  }
}

/* ========================================================================= */

/**
* Footer styling
*/

.footer {
  ul {
    list-style: none;
    margin: 0;
  }
}

@mixin footer($text-color, $background-color) {

  .footer * {
    color: $text-color;
  }

  .footer {
    background-color: $background-color;
    color: $text-color;

    a {
      transition: 0.15s all;
      text-decoration: none;
      font-weight: 400;
    }

    a:hover {
      padding-left: 3px;
      text-shadow: 0px 0px 2px $text-color;
      font-weight: 400;
    }

    .social-medias {
      margin-top: 40px;
    }
  }


}

/* ========================================================================= */

.app-container {

}

@mixin appcontainer($text-color, $background-color) {
  .app-container {
    color: $text-color;
    background-color: $background-color;
  }

  .svs-button-transparent {
    color: $text-color;
    background-color: transparent;
    &:hover {
      color: $text-color;
      text-shadow: 0 0 2px $text-color;
    }
  }

  .svs-fab-button-transparent {
    color: $text-color;
    background-color: transparent;
    &:hover {
      color: $text-color;
      text-shadow: 0 0 2px $text-color;
    }
  }
}

/* =========================================================================
**  Themes
** ========================================================================= */

/*
* Without skin it defaults to that
*/
html {
  @include navbar($light-primary-color, $dark-primary-color);
  @include footer($light-primary-color, $dark-primary-color);
  @include appcontainer($dark-primary-color, $light-primary-color);

  .navbar-brand-image {
    background-image: url("/icons/svs/svs_square_light_icon.svg");
  }
}

/**
* Light skin class
*/
.light-theme {

  @include navbar($light-primary-color, $dark-primary-color);
  @include footer($light-primary-color, $dark-primary-color);
  @include appcontainer($dark-primary-color, $light-primary-color);

  .navbar-brand-image {
    background-image: url("/icons/svs/svs_square_light_icon.svg");
  }

  blockquote {
    ::before {
      background-color: $dark-primary-color;
    }
  }

}

/**
* Dark skin class
*/
.dark-theme {

  @include navbar($light-primary-color, $secondary-color);
  @include footer($light-primary-color, $secondary-color);
  @include appcontainer($light-primary-color, $dark-primary-color);

  .navbar-brand-image {
    background-image: url("/icons/svs/svs_square_dark_icon.svg");
  }

  blockquote {
    ::before {
      background-color: $light-primary-color;
    }
  }

}
